{% for line in content %}
<div class="accordion-item">
    <h2 class="accordion-header" id="heading_{{ substr }}{{ loop.index0 }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ substr }}{{ loop.index0 }}" aria-expanded="false" aria-controls="collapse_{{ substr }}{{ loop.index0 }}">
            Отчет от {{ line[0] }}
        </button>
    </h2>
    <div id="collapse_{{ substr }}{{ loop.index0 }}" class="accordion-body accordion-collapse collapse"
         aria-labelledby="heading_{{ substr }}{{ loop.index0 }}" data-bs-parent="#{{ parent }}">
        <div>
            <p>Оборудование: {{ line[2] }}</p>
            <p>Тип оборудования: {{ line[4] }}</p>
            <p>Cтатус оборудования: {{ line[6] }}</p>
            <p>Дата последнего теста: {{ line[5] }}</p>
        </div>
    </div>
</div>
{% endfor %}