body {
    background: #222D32 !important;
}
nav {
  margin-top: 100px;
  position: relative;
  width: 590px;
  height: 50px;
  border-radius: 8px;
  font-size: 0;
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
nav .animation {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  height: 100%;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}
a {
  width: 300px;
}
nav .start-home, a:hover~.animation {
  width: 300px;
}

nav .start-home, a:nth-child(1):hover~.animation {
  top: 0;
  background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
  top: 50px;
  background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
  top: 100px;
  background-color: #3498db;
}
nav .start-blog, a:nth-child(4):hover~.animation {
  top: 150px;
  background-color: #9b59b6;
}
h1 {
  text-align: center;
  margin: 40px 0 40px;
  text-align: center;
  font-size: 30px;
  color: #ecf0f1;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Cherry Swash', cursive;
}
p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}

span {
    color: #2BD6B4;
}